@import "../../../../../utils/theme.scss";
.container-insignias {
  max-width: 1980px;
  margin: 150px auto 0;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px 1fr;
  .insignias-title {
    grid-column: 1/2;
    text-align: center;
    font-size: 1.8rem;
    color: $primary;

    .event_title {
      font-weight: 700;
      font-size: 32px;
      color: $primary;
      margin-top: 25px;
    }
    .divider {
    width: 60%;
      height: 5px;
      background: linear-gradient( 90deg, #521e87 0.01%, #5c1d88 7.55%, #751a8a 14.82%, #8a178c 20.92%, #8e1c87 30.27%, #c36e42 46.54%, #e4a017 92.6%, #f1b406 99.98%);
      border-radius: 5px;
      margin: 5px auto 10px auto;
      @media screen and (min-width: 40em) {
        width: 40%;
        margin: 5px auto 50px auto;
      }
    }
  }

  .container-insignias-inner {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 400px));
    grid-auto-flow: row;
    grid-column-gap: 50px;
    grid-row-gap: 75px;
    grid-row: 2/3;
    max-width: 90vw;
  }
  .insignias-title {
    grid-column: 1/2;
    text-align: center;
    font-size: 1.8rem;
    color: $primary;
  }
  .insignia-box {
    background: $white;
    color: $primary;
    padding: 20px;
    border-radius: 15px;
  }
  h4 {
    font-size: 1rem;
    text-align: center;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.8rem;
    text-align: center;
  }
  @media screen and (max-width: 1280px) {
    .container-insignias-inner {
      grid-template-columns: repeat(3, minmax(250px, 400px));
    }
  }
  @media screen and (max-width: 910px) {
    .container-insignias-inner {
      grid-template-columns: repeat(2, minmax(250px, 400px));
    }
  }
  @media screen and (max-width: 600px) {
    .container-insignias-inner {
      grid-template-columns: repeat(1, minmax(250px, 400px));
    }
  }
}

.insignia-box-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid gray;
  margin-bottom: 20px;
}

.insignia-box-body {
  margin-bottom: 20px;
}

.insignia-box-img {
  img {
    height: 120px;
    width: 120px;
  }
}
