<div class="event-container">
  <h1 class="event_title">Eventos Activos:</h1>
  <div class="divider"></div>

  <div class="events-container-inner">
      <div *ngFor="let event of events" class="event-card shadow-lg">
          <div class="event-title">
            <h2>{{event.name}}</h2>
          </div>


          <img [src]="event.eventPicture">
          <div class="event-description">
            <p>{{event.description}}</p>
          </div>
          <div class="event-footer">
              <a>
              Mas info
              </a>

              <button *ngIf="!userIsInEvent(event.id);else isInEvent" (click)="addUserToEvent(event)" class="btn-custom">Unirse</button>
              <ng-template #isInEvent>
                  <button (click)="leaveFromEvent(event)" *ngIf="!userLeaveFromEvent(event.id);else leaved" class="btn-custom red">
                      Abandonar
                  </button>
                  <ng-template #leaved>
                      <small style="color:red">Saliste de este evento</small>
                  </ng-template>
              </ng-template>
          </div>
      </div>
  </div>
</div>
