@import "../../../../../utils/theme.scss";
.event-container {
   /* h1 {
        color: $primary;
        margin-bottom: 80px;
        margin-top: 25px;
        font-size: 1.8rem;
    }*/

    .event_title {
          font-weight: 700;
          font-size: 32px;
          color: $primary;
          margin-top: 25px;

          @media screen and (max-width: 650px) {
            font-size: 20px;
          }
    }
    .divider {
      width: 60%;
      height: 5px;
      background: linear-gradient( 90deg, #521e87 0.01%, #5c1d88 7.55%, #751a8a 14.82%, #8a178c 20.92%, #8e1c87 30.27%, #c36e42 46.54%, #e4a017 92.6%, #f1b406 99.98%);
      border-radius: 5px;
      margin: 5px auto 10px auto;
      @media screen and (min-width: 40em) {
        width: 40%;
        margin: 5px auto 50px auto;
      }
    }

    max-width: 1980px;
    margin: 150px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .events-container-inner {
        display: grid;
        grid-template-columns: repeat(4, minmax(280px, 400px));
        @media screen and (max-width: 1340px) {
            grid-template-columns: repeat(3, minmax(280px, 400px));
        }
        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(2, minmax(280px, 400px));
        }
        @media screen and (max-width: 650px) {
            grid-template-columns: minmax(280px, 400px);
            gap: 20px;
            padding-top: 20px;
        }
        grid-auto-flow: row;
        gap: 50px;
        justify-content: center;
        width: 92%;
        .event-card {
            color: White;
            background: $black;
            padding: 0px 0px 20px 0px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .event-title{
              margin: 0;
              width: 100%;
              height: 7rem;
              padding: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              h2 {
                font-size: 1.5rem;
                text-transform: uppercase;
                text-align: center;
                color: $white;
                //background: $dark-gray;
            }
            }

            .event-description{
              width: 100%;
              height: 6rem;
              display: flex;
              justify-content: center;
              align-items: center;
              //background: $primary;
              padding: 1rem;
              //border-bottom: 3px solid $accent;
              p {
                font-size: 0.75rem;
                text-align: center;
              }
            }

            img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
                object-position: center center;
            }
            .event-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                height: 2.5rem;
            }
            a {
                color: $white;
            }
            .btn-custom {
                background-color: $secondary;
                outline: none;
                border: none;
                color: white;
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                transition: all 200ms ease-in-out;
                &:hover {
                    background-color: $primary;
                    color: rgba($color: $white, $alpha: 0.95);
                }
            }
            .red {
                background: red;
            }
        }
    }
}
