$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.6em;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #ffffff;
$accent: #93cb70;

// Form Settings
$max-width: 600px;
$max-height: 400px;
$gutters: 24px;
