<h1>Bienvenido a Community Fest and Code</h1>
<span>¡Conoce gente, aprende y Gana!</span>
<p>La proxima edición comienza en 2022...</p>
<h2>Ellos ya creen en esta iniciativa:</h2>
<div class="carousel-lideres">
</div>
<div>
  <span>Sponsors</span>
  <button>Apoyar iniciativa</button>
</div>
<div class="carousel-sponsor">
  <swiper
      [slidesPerView]="8"
      [spaceBetween]="0"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [autoplay]="true"
    >

      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>
      <ng-template swiperSlide>
        <img class="swiper-image" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F744f9499-dbb7-4a55-92b2-1f0781448bb9%2F1_prCweEqN9wGLx19kngaW2A.jpeg?table=block&id=31a42319-8352-4cba-935e-f323bf41c7a5&width=3070&userId=&cache=v2">
      </ng-template>


  </swiper>

</div>
<h2>Preparate lo bueno esta por venir</h2>
<div class="contador">
  <!--contador-->
  <div class="timer">
    <div class="timer-desc">
      <p>{{desc}}</p>
    </div>
    <div class="timer-time">
      <p class="timer-time-unit">
        <strong>{{time.days}}</strong>
        <span>Dias</span>
      </p>
      <p class="timer-time-unit">
        <strong>{{time.hours}}</strong>
        <span>Horas</span>
      </p>
      <p class="timer-time-unit">
        <strong>{{time.minutes}}</strong>
        <span>Minutos</span>
      </p>
      <p class="timer-time-unit">
        <strong>{{time.seconds}}</strong>
        <span>Segundos</span>
      </p>
    </div>
  </div>
  <!--contador-->
</div>
