<footer class="shadow">
  <div class="copyright">
    <img src="../../../../assets/images/logo45.png" alt="Comfeco" />
    <p>Copyright &copy; 2021 | Team Angular 45</p>
  </div>
  <div class="social">
    <p class="social-text">Síguenos en nuestras redes</p>
    <div class="social-container">
      <a href="">
        <img
          src="../../../../assets/images/iconmonstr-github.svg"
          alt="github"
        />
      </a>
      <a href="">
        <img
          src="../../../../assets/images/iconmonstr-facebook.svg"
          alt="facebook"
        />
      </a>
      <a href="">
        <img
          src="../../../../assets/images/iconmonstr-twitter.svg"
          alt="twitter"
      /></a>
    </div>
  </div>
</footer>
