@import "../../../../../utils/theme.scss";
.app-layout {
    display: grid;
    grid-template-areas: "component" "profile" "eventos";
    grid-template-columns: 1fr;
    max-width: 1980px;
    margin: 150px auto 0;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    @media screen and (min-width: 50em) {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "profile component" "eventos component";
    }
    @media screen and (min-width: 70em) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "profile component eventos";
    }
    .eventos,
    .profile {
        width: 100%;
        height: 350px;
        background-color: $primary;
        border-radius: 20px;
        padding: 15px;
        @media screen and (min-width: 70em) {
            margin-top: 100px;
        }
    }
    .component {
        grid-area: component;
    }
    .eventos {
        grid-area: eventos;
        .card {
          height: 100%;
          background-color: transparent;
          border: none;
          margin: 0;
          .card-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h4 {
              color: $white;
              font-size: 1rem;
              margin: 0;
              padding: 0;
          }
          }
          .card-body{
            overflow: auto;
            margin: 0;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                padding: 0 2px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                background-color: $secondary;
            }
            .eventos-item {
              margin: 3px 0;
              display: flex;
              flex-direction: column;
              width: 100%;
              background-color: $gray;
              padding: 12px;
              border-radius: 10px;
              h5 {
                  font-size: 1.1rem;
                  color: $white;
                  margin: 5px 0 15px 0;
              }
              .eventos-item-buttons {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  .red-btn {
                      background: $secondary;
                      color: $white;
                      &:hover {
                          background: red;
                      }
                  }
                  .btn-custom {
                      width: 40%;
                      font-size: 0.65rem;
                  }
                  small {
                      color: red;
                  }
              }
          }
        }
        }

    }
    .profile {
        grid-area: profile;

        .card {
          height: 100%;
          background-color: transparent;
          border: none;
          margin: 0;
          .card-header {
              display: flex;
              justify-content: flex-end;
          }
          .card-body {
              overflow: auto;
              margin: 0;
              &::-webkit-scrollbar {
                  width: 10px;
              }
              &::-webkit-scrollbar-track {
                  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  border-radius: 10px;
                  padding: 0 2px;
              }
              &::-webkit-scrollbar-thumb {
                  border-radius: 10px;
                  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                  background-color: $secondary;
              }
          }
          p {
              margin: 0 auto;
          }
        }
    }
}



.component-custom {
    padding-left: 20px;
    padding-right: 20px;
}

.component-insignia {
    background: linear-gradient( to right, $primary 30%, $secondary 100%);
    border-radius: 15px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    margin-bottom: 10px;
    .titulo {
        margin: 0 auto;
        font-size: 1rem;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 5px;
        @media screen and (min-width: 40em) {
            margin-bottom: 0px;
        }
    }
    .insignias {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        @media screen and (min-width: 40em) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media screen and (min-width: 70em) {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}

.insignia {
    border-radius: 50%;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    .img-insignia {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title {
    font-weight: 700;
    font-size: 16px;
    color: $primary;
    margin-bottom: 10px;
    @media screen and (min-width: 40em) {
        font-size: 20px;
    }
}

.actividad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 14px;
        font-weight: 300;
        margin: 0 5px 0 0;
    }
}

.profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    img {
      border-radius: 50%;
      position: relative;
      width: 120px;
      height: 120px;
    }
    h2 {
      margin: 10px auto;
      font-weight: 700;
      font-size: 18px;
    }
    h3 {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1.5px;
      margin: 0 auto 10px;
    }
    p {
      font-size: 12px;
      margin: 0 auto;
      text-align: center;
    }

}



.btn-custom {
    background-color: transparent;
    outline: none;
    border: none;
    color: $white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 200ms ease-in-out;
    &:hover {
        background-color: $accent;
        color: rgba($color: $white, $alpha: 0.95);
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    a {
        display: flex;
        padding: 8px;
        border-radius: 50%;
        &.github {
            background-color: $white;
        }
        &.twitter {
            background-color: $white;
        }
        &.facebook {
            background-color: $white;
        }
        &.linkedin {
            background-color: $white;
        }
        img {
            width: 25px;
            height: 25px;
        }
        transition: all 300ms ease-in-out;
        &:hover {
            opacity: 0.75;
        }
    }
}


/*FORMULARIO*/

.update-layout {
  position: relative;
  margin: 150px auto 0;
  .back {
      background-color: $accent;
      border: none;
      border-radius: 50%;
      padding: 12px;
      position: absolute;
      top: 5px;
      left: 10px;
      transition: all 300ms ease;
      svg {
          fill: $white;
      }
      &:hover {
          background-color: rgba($color: $accent, $alpha: 0.2);
          svg {
              fill: $accent;
          }
      }
      @media screen and (min-width: 40em) {
          top: 10px;
          left: 20px;
      }
  }
  .form {
      margin: 0 auto;
      padding: 1rem 1.1rem;
      h1 {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin: 0 0 20px;
          color: $accent;
          @media screen and (min-width: 40em) {
              font-size: 32px;
          }
      }
      &-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 720px;
          margin: 0 auto;
          @media screen and (min-width: 40em) {
              flex-direction: row;
              justify-content: center;
              margin-bottom: 20px;
          }
      }
      &-avatar {
          flex: 1;
          width: 100%;
          .avatar-preview {
              width: 195px;
              height: 195px;
              position: relative;
              border-radius: 100%;
              border: 5px solid #e6e6e6;
              background-color: $white;
              margin: 0 auto;
              position: relative;
              .avatar-edit {
                  position: absolute;
                  right: -5px;
                  z-index: 1;
                  top: 10px;
                  input {
                      display: none;
                      +label {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          width: 40px;
                          height: 40px;
                          margin-bottom: 0;
                          padding: 7.5px;
                          border-radius: 50%;
                          background: #e6e6e6;
                          border: 2px solid transparent;
                          cursor: pointer;
                          transition: all 0.2s ease-in-out;
                          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                          svg {
                              fill: $accent;
                          }
                          &:hover {
                              background: $white;
                              border-color: #e6e6e6;
                          }
                      }
                  }
              }
              img {
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
              }
          }
      }
      &-list {
          flex: 1;
          width: 100%;
          margin: 20px auto 0;
          .btn-list-item {
              font-weight: 300;
              font-size: 14px;
              &::after {
                  content: ">";
                  position: absolute;
                  right: 10px;
                  font-weight: 700;
                  font-size: 16px;
              }
              span {
                  margin-right: 5px;
                  svg {
                      fill: rgba(0, 0, 0, 0.75);
                      width: 20px;
                      height: auto;
                  }
              }
          }
          @media screen and (min-width: 40em) {
              margin: 0 auto;
          }
      }
      &-userdata {
          text-align: center;
          padding-top: 10px;
          p {
              margin: 0;
              padding: 0;
              font-weight: 300;
              font-size: 12px;
              @media screen and (min-width: 40em) {
                  font-size: 14px;
              }
          }
      }
      &-divider {
          max-width: 720px;
          width: 100%;
          border-bottom: 2px solid $lighter-gray;
          margin: 20px auto;
          text-align: center;
          span {
              font-weight: 700;
              font-size: 12px;
          }
      }
      &-group {
          display: flex;
          flex-direction: column;
          margin: 20px auto 0;
          max-width: 720px;
          @media screen and (min-width: 40em) {
              flex-direction: row;
              justify-content: space-evenly;
              margin: 0 auto 20px;
          }
          &_input {
              flex: 1;
              margin: 0 0 20px;
              @media screen and (min-width: 40em) {
                  margin: 0 20px 0 0;
                  &:last-child {
                      margin: 0;
                  }
              }
              .date-input {
                  display: flex;
                  .calendar {
                      padding: 0 10px;
                      border-color: $accent;
                      border-radius: 5px;
                      background-color: $white;
                      svg {
                          fill: $accent;
                      }
                      &:hover {
                          background-color: $accent;
                          svg {
                              fill: $white;
                          }
                      }
                  }
              }
              .input-social {
                  display: flex;
                  justify-content: center;
                  span {
                      display: flex;
                      margin-right: 5px;
                      width: 48px;
                      height: 48px;
                      img {
                          width: 100%;
                          height: auto;
                          object-fit: contain;
                          border-radius: 2px;
                      }
                  }
                  label {
                      display: initial;
                      margin: 0;
                      color: $accent;
                      line-height: initial;
                      text-transform: initial;
                      letter-spacing: 0;
                      font-weight: 700;
                      align-self: center;
                      margin-right: 5px;
                  }
                  input {
                      padding: 5px 0;
                  }
              }
              label {
                  display: block;
                  margin: 0 0 5px;
                  color: $gray;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 1;
                  text-transform: uppercase;
                  letter-spacing: 0.2em;
              }
              input,
              select {
                  outline: none;
                  display: block;
                  width: 100%;
                  border: 0;
                  border-bottom: 1.2px solid rgba($black, 0.1);
                  box-sizing: border-box;
                  padding: 5px 10px;
                  color: $dark-gray;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 1.6em;
                  transition: 0.3s ease;
                  &:focus {
                      color: $black;
                      border-color: $accent;
                  }
              }
              textarea {
                  display: block;
                  width: 100%;
                  height: 100px;
                  box-sizing: border-box;
                  padding: 5px 20px;
                  color: $dark-gray;
                  border: 1.2px solid rgba($black, 0.1);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 1.6em;
                  transition: 0.3s ease;
                  outline: none;
                  &:focus {
                      color: $black;
                      border-color: $accent;
                  }
              }
              .is-invalid {
                  border-color: red;
              }
              &:last-child {
                  margin: 0;
              }
          }
          .button-submit {
              outline: none;
              background: $accent;
              width: 100%;
              max-width: 250px;
              border: 1.2px solid transparent;
              border-radius: 20px;
              margin-top: 10px;
              padding: 10px 20px;
              color: $white;
              font-family: inherit;
              font-size: inherit;
              font-weight: 500;
              line-height: inherit;
              text-transform: uppercase;
              cursor: pointer;
              transition: all 0.3s ease;
              align-self: flex-end;
              &:hover {
                  background: $white;
                  color: $accent;
                  border-color: $accent;
                  transform: scale(1.05);
              }
              &:disabled {
                  cursor: not-allowed;
                  background: rgba($accent, 0.5);
                  border-color: rgba($accent, 0.5);
                  color: $white;
              }
          }
      }
  }
}

.data-nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
      color: $white;
      font-weight: 700;
      font-size: 1.1em;
      text-align: center;
  }
}
