@import "../../../../../utils/theme.scss";

.app-layout {
  display: grid;
  grid-template-areas:
    "component"
    "profile"
    "eventos";
  grid-template-columns: 1fr;
  max-width: 1980px;
  margin: 150px auto 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  @media screen and (min-width: 50em) {

    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "profile component"
      "eventos component";
  }

  @media screen and (min-width: 70em) {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "profile component eventos";
  }
  .eventos,
  .profile {
    width: 100%;
    height: 320px;
    background-color: $primary;

    border-radius: 20px;
    padding: 10px;
    @media screen and (min-width: 70em) {
      margin-top: 100px;
    }
  }
  .component {
    grid-area: component;
  }
  .eventos {
    grid-area: eventos;
  }
  .profile {
    grid-area: profile;
  }
}


.taller-separador {
color: white;
padding-left: 5px;
border: solid darkgrey 1px ;
background-color: darkgrey;
}

hr{
border: solid black 1px;
}

.component-custom{
  padding-left: 20px;
  padding-right:20px ;

}

.component-insignia{
  background:linear-gradient(
    to right,
    $primary 30%,
    $secondary 100%
  );
  border-radius: 15px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  margin-bottom: 10px;

  .titulo{
    margin: 0 auto;
      font-size: 1rem;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 5px;
      @media screen and (min-width: 40em) {
        margin-bottom: 0px;
      }
  }
  .insignias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    @media screen and (min-width: 40em) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (min-width: 70em) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

}

.insignia {
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;

  .img-insignia {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  color: $primary;
  margin-bottom: 10px;
  @media screen and (min-width: 40em) {
    font-size: 20px;
  }
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  margin: 0 auto;
  h2{
    font-weight: 700;
    font-size: 17px;
  }
  h3{
    font-size: 15px;
  }
  p{
    font-size: 10px;
  }
}

.card{
  height: 100%;
  background-color: transparent;
  border: none;
  .card-header{
    display: flex;
    justify-content: flex-end;
    a{
      text-decoration: none;
      color: $white;
      &:hover{
        color: blue;
      }
    }
  }
  .card-body{
    overflow: auto;
  }
  p{
    margin: 0 auto;
  }
}


.social-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  a{
      display: flex;
      margin-right: 10px;
      padding: 5px 8px;
      border-radius: 50%;

      &.youtube{
        background-color: $youtube;
      }
      &.twitter{
          background-color: $twitter;
      }
      &.facebook{
          background-color: $facebook;
      }
      &.linkedin{
          background-color: $linkedin;
      }

      img{
          width: 15px;
          height: 20px;
      }
  }
}


