<div class="app-layout animate__animated animate__fadeIn">

    <div class="comunidades shadow">
        <div class="taller-header">
            <h2 class="taller--header__title"><strong>
            Talleres:
          </strong></h2>
            <button routerLink="/home/workshops" class="btn-custom">Ver mas</button>
        </div>
        <div class="form-group">
            <select (change)="loadWorkShopsWithEvent($event)" class="form-control">
        <option  value="-1">Talleres por area de conocimiento</option>
        <option [value]="area.id" *ngFor="let area of areas">
          {{area.name}}
        </option>
      </select>
        </div>


        <div class="card-body">

            <div *ngFor="let workshop of workshops">
                <div class="workshop-single-container">
                    <div>
                        <strong style="color: white;">{{workshop.title}}</strong><br>
                        <samp style="color: darkgray; ">{{workshop.workShopDate | date:'MMM d, y, h:mm a'}}</samp><br>
                        <span style="color: whitesmoke;">By </span> <span style="color: #F2A007;">
                          <a *ngIf="workshop.principalSocialNetwork" [href]="workshop.principalSocialNetwork.url" target="_blank" style="color: #F2A007;">{{workshop.userName}}</a>
                          <a *ngIf="!workshop.principalSocialNetwork">{{workshop.userName}}</a>
                        </span>
                    </div>
                    <div>
                        <img *ngIf="!IsGreaterThanCurrentDate(workshop.workShopDate);else nextworkshop" src="assets/images/check.svg">
                        <ng-template #nextworkshop>
                            <img src="assets/images/more.svg">
                        </ng-template>

                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>


    <div class="component">
        <div class="welcome">
            <h1 class="welcome_title">Bienvenido a Community Fest and Code</h1>
            <div class="divider"></div>
            <span class="welcome_span">¡Conoce gente, aprende y Gana!</span>
            <p class="welcome_desc">
                La proxima edición comienza en 2022, en la cual se planea involucrar a todos los programadores independientes del área de conocimiento que se encuentre, todo con un mismo propósito. Aprender en comunidad!
            </p>
        </div>
        <div class="carousel-lideres">
            <h2 class="title">Ellos ya creen en esta iniciativa:</h2>
            <div class="content-container-lider">
                <swiper class="swiper-container-lider" [config]="config" [pagination]="{ clickable: true }" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                    <ng-template *ngFor="let slide of contentCreators" swiperSlide>
                        <div class="slide shadow">
                            <img [src]="slide.profilePicture" alt="image" class="img-slide img-fluid" />
                            <div class="data-slide">
                                <div class="span-container">
                                    <span>JS</span>
                                </div>
                                <p>{{slide.realName}}</p>
                            </div>
                        </div>
                    </ng-template>

                </swiper>
            </div>
        </div>
        <div class="d-flex justify-content-between justify-align-center mb-2">
            <h2 class="title">Sponsors</h2>
            <button class="btn button-custom">Apoyar iniciativa</button>
        </div>
        <div class="carousel-sponsor">

            <div class="content-container-sponsor">
                <swiper class="swiper-container-sponsor" [config]="config2" [pagination]="{ clickable: true }" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                    <ng-template *ngFor="let slide of sponsors" swiperSlide>
                        <div class="slide shadow">
                            <img [src]="slide.sponsorIcon" alt="image" class="img-slide img-fluid" />
                        </div>
                    </ng-template>
                </swiper>
                <!--<div class="swiper-pagination"></div>-->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <h2 class="title">Preparate lo bueno esta por venir</h2>
        <div class="contador">
            <!--contador-->
            <div class="timer" *ngIf="time != null && finalizado == false">
                <div class="timer-desc">
                    <p>{{desc}}</p>
                </div>
                <div class="timer-time">
                    <p class="timer-time-unit">
                        <strong>{{time.days}}</strong>
                        <span>Dias</span>
                    </p>
                    <p class="timer-time-unit">
                        <strong>{{time.hours}}</strong>
                        <span>Horas</span>
                    </p>
                    <p class="timer-time-unit">
                        <strong>{{time.minutes}}</strong>
                        <span>Minutos</span>
                    </p>
                    <p class="timer-time-unit">
                        <strong>{{time.seconds}}</strong>
                        <span>Segundos</span>
                    </p>
                </div>
            </div>
            <div class="timer" *ngIf="finalizado">
                <div class="timer-desc">
                    <p>{{desc}}</p>
                </div>
                <div class="timer-time">
                    <p class="timer-time-unit">
                        <strong>A CODEAR !!</strong>
                        <span>Tiempo completado</span>
                    </p>
                </div>
                <!--contador-->
            </div>
        </div>
    </div>


    <div class="talleres shadow comunidades-box">

        <div class="card">
            <div class="card-header">
                <h2 class="comunidades--header__title"><strong>
            Comunidades:
          </strong></h2>
                <button routerLink="/home/comunities" class="btn-custom">Ver mas</button>
            </div>
            <div class="card-body">
                <div *ngFor="let comunidad of comunidades" class="comunidades--container__item">
                    <h3 class="comunidades--container--item__title">
                        <strong>{{comunidad.name}}</strong>
                    </h3>
                    <a [href]="comunidad.url" target="_blank" class="comunidades--container--item__url" style="color: #F2A007;">Unirme</a>
                    <div class="taller-separador"></div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>