@import "../../../../utils/theme.scss";
.item-notify {
    display: none;
    @media screen and (min-width: 40em) {
        display: inline-block;
    }
}

.hamburger-menu {
    display: inline-block;
    border-radius: 20px;
    padding: 0 10px;
    outline: none;
    border: none;
    margin-right: 10px;
    background-color: transparent;
    z-index: 3;
    transition: all 300ms;
    .navbar-close-icon {
        display: inline-block;
        font-weight: 700;
        color: $accent;
        width: 24px;
        height: 24px;
        border: 1px solid $accent;
        border-radius: 50%;
    }
    &:hover {
        transform: scale(1.25);
    }
    @media screen and (min-width: 55em) {
        display: none;
    }
}

.img-brand {
    max-width: 100%;
    height: auto;
    @media screen and (min-width: 22em) {
        max-width: 150px;
    }
}

.navbar-items {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    list-style: none;
    li {
        transition: all 300ms ease;
        border: 2.5px solid transparent;
        a {
            color: $primary;
            text-align: center;
            transition: all 300ms ease;
            font-size: 14px;
            @media screen and (min-width: 60em) {
                font-size: 16px;
            }
            &.inicio {
                display: none;
                @media screen and (min-width: 65em) {
                    display: flex;
                }
            }
        }
    }
    .active {
        border-bottom: 2.5px solid $secondary;
    }
    @media screen and (min-width: 55em) {
        display: flex;
        li {
            &:hover {
                border-bottom-color: $primary;
            }
        }
    }
}

.navbar {
    z-index: 1050;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba($white, 0.975);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: $primary;
        display: block;
        &:hover {
            color: $accent;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .active {
        border-bottom: 2.5px solid $secondary;
        a {
            color: $accent;
            text-decoration: underline;
            font-weight: 700;
        }
    }
    @media screen and (max-height: 450px) {
        padding-top: 15px;
        a {
            font-size: 18px;
        }
    }
    @media screen and (max-width:880px) {
        &.open {
            width: 240px;
        }
    }
}

.activated {
    background: $gray !important
}