@import "../../../../utils/theme.scss";
.comunities-container {
    max-width: 1980px;
    min-height: calc(100vh - 167px);
    margin: 65px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
    h1 {
        color: $primary;
        text-align: center;
        padding: 5px;
        @media screen and (max-width: 650px) {
          font-size: 30px;
        }
    }
    .comunities-container-inner {
        margin-top: 20px;
        display: grid;
        max-width: 90%;
        justify-content: center;
        grid-template-columns: repeat(4, minmax(270px, 450px));
        @media screen and (max-width: 1280px) {
            grid-template-columns: repeat(3, minmax(270px, 450px));
        }
        @media screen and (max-width: 950px) {
            grid-template-columns: repeat(2, minmax(270px, 450px));
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: minmax(270px, 470px);
            gap:20px;
        }
        gap:40px;
        grid-auto-flow: row;
        .comunities-item {
            max-height: 200px;
            background: #2E2E2E;
            color: $white;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding: 30px;
            text-align: center;
            button {
              background: $secondary;
              transition: 0.3s;
              border-radius: 50%;
              margin: 10px auto;
              height: 60px;
              width: 60px;
              outline: none;
              border: none;
              svg {
                fill: $white;
                height: 40px;
                width: 40px;
              }
              &:hover {
                background-color: $primary;
              }
            }
            .comunitie-name{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 70%;
              margin-right: 15px;
              padding: 50px;
              h2{
                font-size: 20px;
              }
            }
        }
    }
}

.divider {
    width: 60%;
    height: 5px;
    background: linear-gradient( 90deg, #521e87 0.01%, #5c1d88 7.55%, #751a8a 14.82%, #8a178c 20.92%, #8e1c87 30.27%, #c36e42 46.54%, #e4a017 92.6%, #f1b406 99.98%);
    border-radius: 5px;
    margin: 5px auto 10px auto;
    @media screen and (min-width: 40em) {
        width: 40%;
        margin: 5px auto 50px auto;
    }
}
